body{
    background-color: #5a5c69;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    background-color:#61605d;
    border-radius: 100px;
    border: none; 
    width:60vw;
    height: 120vh;
    justify-content: center;
    text-align: center;
    
}
#signin{
    font-size: 70px;
    font-family: arial;
    color:white;
    padding: 10px;
}
#emal{
    height: 50px;
    width: 350px;
    border-radius: 15px;
    background-color: #82817f;
    box-shadow: #82817f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}